# Python
__pycache__/
*.py[cod]
*.pyd
.venv/
venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Node
node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
desktop.ini

# Python cache
.pytest_cache/
.mypy_cache/

# Build
dist/
build/

# Hugging Face
.cache/